@font-face {
	font-family: 'DroidSerif-Italic';
	src: url('../fonts/DroidSerif-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidSerif-Italic.woff') format('woff'), url('../fonts/DroidSerif-Italic.ttf')  format('truetype'), url('../fonts/DroidSerif-Italic.svg#DroidSerif-Italic') format('svg');
	font-weight: normal;
	font-style: normal
}

*,
*:focus {
	outline: none;
	border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none
}

ul,
ol,
dl {
	padding: 0;
	margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0
}

h2 {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	color: #d59d30;
	letter-spacing: 0.3px;
	margin-bottom: 44px
}

img {
	border: none;
	max-width: 100%
}

a,
a:hover,
.logo,
.small-header,
button {
	text-decoration: none;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s
}

a {
	text-decoration: none !important
}

a:focus {
	outline: 0;
	text-decoration: none
}

ul li {
	list-style: none
}

html,
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 17px
}
body{opacity: 0}
.wrapper {
	min-height: 100%;
	margin: 0 auto
}

.main-wrap {
	width: 100%;
	height: 100%
}

.display-table {
	display: table;
	height: 64vh;
	width: 100%;
	max-width: 350px;
	margin: 0 auto
}

.display-tablecell {
	display: table-cell;
	vertical-align: middle
}

.mobile-visible {
	display: none
}

@media (min-width:1200px) {
	.container {
		max-width: 1200px
	}

}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 32px 0;
	z-index: 98;
	background: #202020;
	transition: all ease 0.5s
}

header * {
	color: #fff
}

header a:focus {
	outline: none;
	box-shadow: none
}

header .row.justify-content-between {
	align-items: center
}

header .nav-bar {
	text-align: right
}

header ul li {
	display: inline-block;
	margin: 0 4px
}

header ul li:last-child {
	margin-right: -14px
}

header a.left-logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 24px;
	line-height: 28px
}

header a.left-logo:hover,
header a.left-logo:focus {
	color: #fff
}

header ul li a {
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	padding: 11px 16px;
	background: transparent;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0.1px
}

header ul li a.active,
header ul li a:hover,
header ul li a:focus {
	background: #e25050;
	color: #fff
}

header .left-logo {
	margin-top: 5px;
	max-width: 108px
}

header .right-logo {
	float: right;
	max-width: 208px
}

.hamburger-menu {
	display: none;
	width: 34px;
	height: 24px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	float: right
}

.hamburger-menu span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #ffffff;
	border-radius: 0;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out
}

.hamburger-menu span:nth-child(1) {
	top: 0px
}

.hamburger-menu span:nth-child(2) {
	top: 10px
}

.hamburger-menu span:nth-child(3) {
	top: 20px
}

.open-menu .hamburger-menu span:nth-child(1) {
	top: 10px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg)
}

.open-menu .hamburger-menu span:nth-child(2) {
	opacity: 0;
}

.open-menu .hamburger-menu span:nth-child(3) {
	top: 10px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg)
}

.small-header header {
	position: fixed
}

main {
	padding-top: 100px
}

.welcome-fitness-block {
	padding: 50px 0
}

.fitness-title {
	text-align: center;
	margin-bottom: 53px
}

.fitness-title p {
	font-size: 16px;
	color: #a2a2a2;
	font-family: 'DroidSerif-Italic'
}

h2.title-content {
	font-size: 30px;
	line-height: 34px;
	color: #202020;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: normal
}

h2.title-content strong {
	color: #e25050
}

.fitness-listing h4 {
	font-size: 14px;
	color: #202020;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	margin-bottom: 8px
}

.fitness-listing h4 img {
	margin-right: 11px;
	position: relative;
	top: -3px
}

.fitness-listing p {
	font-size: 13px;
	line-height: 21px;
	color: #777777;
	margin-bottom: 0
}

.home-slider-with-parallex {
	overflow: hidden;
	position: relative
}

.home-slider-with-parallex ul {
	display: inline-block;
	transition: all ease 0.5s;
	position: relative
}

.home-slider-with-parallex li {
	float: left;
	min-height: 380px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-position: center
}

.home-slider-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #fff
}

.home-slider-content h1 {
	background: #242423;
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	padding: 14px 22px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	display: inline-block;
	margin-bottom: 0;
	letter-spacing: -0.4px
}

.home-slider-content p {
	background: #242423;
	font-size: 18px;
	color: #fff;
	display: inline-block;
	margin-bottom: 0;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	padding: 15px 20px;
	letter-spacing: 1.4px
}

.home-slider-content span {
	font-size: 12px;
	letter-spacing: -1px;
	color: #fff;
	text-transform: uppercase;
	background: #d4504f;
	padding: 8px 10px;
	display: inline-block
}

.line-breaker {
	height: 2px
}

.next-btn {
	height: 40px;
	width: 40px;
	display: inline-block;
	background: url(../images/next-arrow.png) no-repeat;
	cursor: pointer;
	background-size: 40px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	right: 0;
	z-index: 9;
	right: 5%
}

.prev-btn {
	height: 40px;
	width: 40px;
	display: inline-block;
	background: url(../images/prev-arrow.png) no-repeat;
	cursor: pointer;
	background-size: 40px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	z-index: 9;
	left: 5%
}

.call-link {
	background: #e25050;
	font-size: 14px;
	color: #fff;
	display: inline-block;
	line-height: 40px;
	position: relative;
	padding-left: 65px;
	padding-right: 25px;
	position: absolute;
	top: 0;
	right: 22%;
	z-index: 9;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s
}

.call-link:hover {
	background: #242423;
	color: #fff;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s
}

.call-link i {
	background: #bd4141;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	text-align: center;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s
}

.call-link:hover i {
	background: #030303;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s
}

.trainer_card .trainer_front,
.trainer_card .trainer_back {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s
}

.superb-trainers-section {
	padding: 56px 0 58px;
	background: url(../images/flip-section-bg.jpg) no-repeat center;
	background-size: cover
}

.superb-trainers-section h2 {
	font-size: 24px;
	line-height: 28px;
	position: relative;
	color: #ffffff;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	margin-bottom: 70px;
	letter-spacing: -0.6px
}

.superb-trainers-section h2:after {
	content: "";
	position: absolute;
	bottom: -9px;
	width: 45px;
	height: 1px;
	background: #fff;
	margin: 0 auto;
	left: 0;
	right: 0
}

.trainer_card {
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
	-webkit-perspective: 600px;
	perspective: 600px;
	overflow: hidden;
	min-height: 315px
}

.trainer_card .trainer_front {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	transform: rotateX(0) rotateY(0);
	-webkit-transform: rotateX(0) rotateY(0);
	-moz-transform: rotateX(0) rotateY(0);
	-o-transform: rotateX(0) rotateY(0);
	-ms-transform: rotateX(0) rotateY(0);
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.trainer_card .basic_info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	padding: 19px 21px
}

.trainer_card h3 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: #202020;
	margin-bottom: 2px;
	letter-spacing: -0.2px
}

.trainer_card span {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 16px;
	color: #afafaf
}

.trainer_card .trainer_front img {
	height: 100%;
	width: 100%;
	object-fit: cover
}

.trainer_card .trainer_back {
	z-index: 2;
	background: #fff;
	padding: 28px 22px;
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	transform: rotateX(-180deg);
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden
}

.trainer_card.flip .trainer_front {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg)
}

.trainer_card.flip .trainer_back {
	transform: rotateX(0) rotateY(0);
	-webkit-transform: rotateX(0) rotateY(0);
	-moz-transform: rotateX(0) rotateY(0);
	-ms-transform: rotateX(0) rotateY(0);
	-o-transform: rotateX(0) rotateY(0)
}

.trainer_card .trainer_back p {
	font-size: 13px;
	line-height: 21px;
	color: #777777
}

.trainer_card .trainer_back span {
	margin-bottom: 15px;
	display: inline-block
}

@keyframes slidFromTop {
	0% {
		top: -100%
	}

	100% {
		top: 0
	}

}

.small-header header {
	top: -100%;
	-webkit-animation: slidFromTop 0.5s ease forwards;
	animation: slidFromTop 0.5s ease forwards
}

.gallery-section {
	padding: 54px 0 30px;
}
.gallery-section h2 {
	font-size: 24px;
	line-height: 28px;
	position: relative;
	color: #202020;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	margin-bottom: 27px;
	letter-spacing: -0.6px;
}
.gallery-section h2::after {
    content: "";
    position: absolute;
    bottom: -9px;
    width: 45px;
    height: 1px;
    background: #202020;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.gallery-section p {
	color: #777777;
	font-size: 12px;
	max-width: 530px;
	margin: 0 auto 61px;
	text-align: center;
	font-weight: 400;
}
.gallery-img-wrappper {
	overflow:hidden;
}
.gallery-img-wrappper img {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-ms-transform: scale(1,1);
}
.gallery-img-wrappper img:hover {
	transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
}
.gallery-section .gallery-grid {
	margin-bottom: 30px;
	line-height: 1.75;
}

.site-footer {
	background: url(../images/footer-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: #fff;
}
.footer-top {
    display: flex;
    padding: 28px 0 15px;
    justify-content: space-between;
    border-bottom: 1px solid #323232;
}
.footer-top-left {
    max-width: 615px;
    position: relative;
    padding-left: 40px;
}
.footer-top-left p{
    font-size: 13px;
    font-weight: 300;
    line-height: 1.69;
}
.footer-top-left p span {
    color: #717171;
}
.footer-top-left i {
    font-size: 26px;
    position: absolute;
    left: 0;
    top: 9px;
}
.footer-top-right .social-menu {
    padding-top: 17px;
}
.footer-top-right .social-menu li {
    display: inline-block;
    padding-left: 12px;
    vertical-align: top;
}
.footer-top-right .social-menu li img {
    vertical-align: top;
}
.footer-top-right .social-menu li a i {
    font-size: 16px;
}
.footer-top-right .social-menu li a i,.footer-top-right .social-menu li a img {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
}
.footer-top-right .social-menu li a:hover i,.footer-top-right .social-menu li a:hover img {
    opacity: 0.75;
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
}
.footer-top-right .social-menu li:first-child {
    padding-left: 0;
}
.footer-top-right .social-menu li a {
    color: #fff;
}
.footer-middle {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 85px;
}
.footer-middle h3 {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin: 0 0 29px;
}
.footer-middle .footer-middle-left {
    max-width: 350px;
    padding-right: 15px;
    box-sizing: border-box;
}
.footer-middle-left h3{
    margin-bottom: 25px;
}
.footer-middle .footer-middle-left p {
    font-size: 12px;
    font-weight: 300;
    color: #c6c6c6;
    line-height: 1.75;
}
.footer-middle-left ul li a {
    color: #fff;
    position: relative;
    font-size: 12px;
    font-weight: 300;
    color: #c6c6c6;
    padding-left: 22px;
}
.footer-middle-left ul li a i {
    position: absolute;
    top: 3px;
    left: 0;
    
}
.footer-middle-left ul li.f-phone {
    margin-bottom: 3px;
}
.footer-middle-left ul li.f-phone a i{
	font-size: 16px; 
    top: 0;
}
.footer-middle .footer-middle-right {
    max-width: 670px;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 0 28px;
}
.contact-form-inner {
    margin: 0 -8px;
}
.contact-form .form-field input[type="text"],.contact-form .form-field input[type="email"],.contact-form .form-field textarea{
    border: 1px solid #4f4f4f;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding: 0 12px;
    color: #656565;
    background: transparent;
    width: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}
.contact-form .form-field input[type="text"],.contact-form .form-field input[type="email"]{
    height: 36px;
}
.contact-form .form-field textarea {
    padding: 10px 12px;
    resize: none;
    height: 110px;
}
.contact-form .form-field {
    margin-bottom: 16px;
    padding: 0 8px;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}
.contact-form .form-field.field-col-3 {
    width: 33.33%;
} 
.contact-form .form-field.field-col-2 {
    width:  66.6%;
}
.contact-form .form-field.field-col-1 {
    width: 33.4%;
}
.copy-text {
    font-size: 12px;
    font-weight: 300;
    padding-right: 15px;
    color: #707070;
}
.back-to-top {
    font-size: 12px;
    font-weight: 300;
    text-decoration: underline;
    color: #e25050;
    min-width: 80px;
    text-align: right;
    cursor: pointer;
}
.submit-btn {
    position: relative;
    height: 36px;
    padding: 0 34px 0 22px;
    background: #e25050;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    display: inline-block;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 18px;
    cursor: pointer;
    width: 100%;
}
.submit-btn:hover {
    opacity: 0.75;
}
.submit-btn:after {
    position: absolute;
    background: url(../images/next-white.png);
    height: 13px;
    width: 7px;
    background-size: 7px 13px;
    content: "";
    top: 12px;
    right: 25px;
} 
.contact-form .form-field .note{
    display: block;
    font-size: 12px;
    color: #707070;
}

.partner-section h2 {
	font-size: 24px;
	line-height: 28px;
	position: relative;
	color: #202020;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	margin-bottom: 27px;
	letter-spacing: -0.6px;
}
.partner-section h2::after {
    content: "";
    position: absolute;
    bottom: -9px;
    width: 45px;
    height: 1px;
    background: #202020;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.partner-section{margin-top: 60px;}
.partner-section .logo-outer{position: relative;padding: 0 30px}
.logo-wrap{overflow:hidden;margin-bottom: 60px;position: relative;margin-top: 50px;}
.partner-section li{float: left;width: 207px;text-align: center;}
.partner-section ul{ align-items: center;white-space: nowrap;display: flex;transition: all ease 0.3s}
.logo-prev{position: absolute;left: 0;top: 0;height: 20px;width: 15px;cursor: pointer;top: 50%;margin-top: -10px;}
.logo-next{position: absolute;right: 0;top: 0;height: 20px;width: 15px;cursor: pointer;top: 50%;margin-top: -10px;}
.disable{opacity: 0.8}


.clearfix:after{
	content: '';
	clear: both;
	display: block;
}
.pricing-plans{
	background: #e25050;
	padding: 50px 0;
}
.pricing-plans h3{font-family: 'Oswald', sans-serif; font-size: 24px; line-height: 1; margin: 0; font-weight: bold; text-align: center; color: #fff; text-transform: uppercase; position: relative; padding-bottom: 10px; margin-bottom:  50px;}

.pricing-plans h3:after{ position: absolute; content: ''; left: 50%; -webkit-transform: translateX(-50%);-ms-transform: translateX(-50%); -o-transform: translateX(-50%);t ransform: translateX(-50%); bottom: 0; width: 45px; height: 1px; background: #ffffff; }
.pricing-plans-inner{ background: #d14343; border:2px solid #d14343; padding: 25px 9px 27px 0; color:#fff; transition: all 0.3s; -webkit-transition: all 0.3s; margin: 10px 0;}
.pricing-plans-inner:hover{ background:transparent; border-color: #fff; }
.pricing-plans-left{ width: 137px; float: left; padding: 0 30px; border-right: #e25050 1px solid; transition: all 0.3s; -webkit-transition: all 0.3s; }
.pricing-plans-inner:hover .pricing-plans-left{ border-right-color: #fff; }
.pricing-plans-left .image{ text-align: center; padding-bottom: 20px; }
.pricing-plans-left h5{ font-family: 'Oswald', sans-serif; font-size: 18px; line-height: 21px; text-transform: uppercase; padding-bottom: 3px; }
.pricing-plans-left p{ font-family: 'Oswald', sans-serif; font-size: 36px; line-height: 1; text-transform: uppercase; }
.pricing-plans-left p sup{top: -1.1em;font-size: 14px;}

.pricing-plans-right{overflow: hidden; padding-left: 30px; }
.pricing-plans-right ul{padding-top: 9px;}
.pricing-plans-right ul li{font-size: 12px; line-height: 21px; padding: 0 0 0 18px; background: url(../images/list-icon.png) no-repeat left 7px;}
